<template>
  <footer>
    <div>© Copyright 2021 TuoiTre, All rights reserved</div>
    <div>® Báo Tuổi Trẻ giữ bản quyền nội dung trên website này</div>
  </footer>
</template>

<style>
footer {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #7e8299;
  padding: 20px 0 42px;
}
</style>
