<template>
  <a-form-item
    :label="label"
    :name="name"
    :rules="[{ required: true, message: 'Please input your username!' }]"
    :class="{ 'wrap-input': true, required: required }"
    :required="required"
    :style="wrapStyle"
  >
    <a-input
      v-if="
        inputType === 'text' ||
        inputType === 'number' ||
        inputType === 'password'
      "
      v-model="formData[name]"
      @blur="
        () => {
          if (inputType === 'number') {
            formatNumber();
          }
          handleValidate();
          backJob();
        }
      "
      @input="clearErrorMessage"
      :disabled="disabled"
      :placeholder="placeholder"
      :style="customStyle"
      :class="customClass"
      :type="inputType === 'password' ? inputType : 'text'"
    />
    <a-radio-group
      v-else-if="inputType === 'radio'"
      v-model="formData[name]"
      class="radio"
      @change="handleValidate"
    >
      <a-radio
        v-for="{ label, value } in radioListData"
        :key="value"
        :value="value"
        >{{ label }}</a-radio
      >
    </a-radio-group>
    <a-date-picker
      v-else-if="inputType === 'datePicker'"
      v-model="formData[name]"
      value-format="YYYY-MM-DD"
      :style="{ width: '100%' }"
      @change="handleValidate"
      :placeholder="placeholder"
      :disabledDate="
        (d) =>
          !d ||
          d.isAfter(disabledDate.max || defaultDisabledDate) ||
          d.isSameOrBefore(disabledDate.min || '1970-01-01')
      "
      :defaultPickerValue="defaultDate"
    />

    <a-config-provider v-else-if="inputType === 'select'">
      <template v-if="dispatchType === 'district'" #renderEmpty>
        <div class="select-empty">Chọn tỉnh thành trước ...</div>
      </template>
      <template v-else #renderEmpty>
        <div class="select-empty">Chọn tỉnh thành, quận huyện trước ...</div>
      </template>
      <a-select @change="handleSelect" placeholder="" v-model="formData[name]">
        <a-select-option
          v-for="{ code, name, label, value } in selectData"
          :key="code || value"
          :value="name || value"
          :code="code || value"
          :dispatchType="dispatchType"
          >{{ name || label }}</a-select-option
        >
      </a-select>
    </a-config-provider>
    <a-textarea
      v-else-if="inputType === 'textarea'"
      :style="{ ...customStyle, resize: 'none' }"
      :class="customClass"
      v-model="formData[name]"
      @blur="handleValidate"
      @input="clearErrorMessage"
    />
    <a-upload
      v-else-if="inputType === 'imagePicker'"
      class="imagePicker"
      :style="{ ...customStyle }"
      :defaultFileList="formData[name]"
      @change="handleUploadChange"
      :beforeUpload="beforeUpload"
    >
      <a-button>Chọn tập tin</a-button>
    </a-upload>
    <div class="messageWrap">
      <div class="errMessage">{{ errorMessage }}</div>
      <div v-if="counter !== undefined" class="counter">
        {{ counter }} / <span>{{ validateRules.maxLength }}</span> chữ
      </div>
    </div>
  </a-form-item>
</template>
<script>
import { mapState } from "vuex";
import validateHelper from "../../utils/validate";
import { message } from "ant-design-vue";

export default {
  data() {
    return {
      files: [],
      errorMessage: "",
    };
  },
  props: {
    label: {
      type: String,
    },
    required: {
      default: false,
      type: Boolean,
    },
    inputType: {
      default: "text",
      type: String,
    },
    customStyle: {
      default: () => ({}),
      type: Object,
    },
    wrapStyle: {
      default: () => ({}),
      type: Object,
    },
    customClass: {
      default: () => ({}),
      type: Object,
    },
    selectData: {
      default: () => [],
      type: Array,
    },
    dispatchType: {
      type: String,
    },
    name: {
      type: String,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    radioListData: {
      default: () => [],
      type: Array,
    },
    validateRules: {
      default: () => ({}),
      type: Object,
    },
    isSubmitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
    defaultDate: {
      type: String,
    },
    disabledDate: {
      default: () => ({}),
      type: Object,
    },
    disabled: {
      default: false,
      type: Boolean,
    },
    counter: {
      default: undefined,
    },
    placeholder: {
      default: "",
      type: String,
    },
  },

  updated() {
    if (Object.keys(this.validateRules).length === 0) {
      this.removeInvalidField(this.name);
    }
  },
  computed: {
    ...mapState(["isDoneStep"]),
    defaultDisabledDate() {
      const date = new Date();
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
    },
  },
  watch: {
    isSubmitted: function () {
      this.handleValidate();
    },
  },
  methods: {
    handleSelect(codeValue, selectedComponent) {
      const { dispatchType, code } = selectedComponent.data.attrs;
      if (dispatchType === "province") {
        this.$store.dispatch("GetDistricts", code);
        this.formData["quanHuyen"] = "";
        this.formData["phuongXa"] = "";
      } else if (dispatchType === "district") {
        this.$store.dispatch("GetWards", code);
        this.formData["phuongXa"] = "";
      }
      this.handleValidate();
    },
    handleUploadChange({ fileList }) {
      this.formData[this.name] = fileList;
      this.handleValidate();
    },
    handleValidate() {
      //  No validate
      if (Object.keys(this.validateRules).length === 0) {
        this.removeInvalidField(this.name);
        return;
      }
      for (let validateKey in this.validateRules) {
        const validateValue = this.validateRules[validateKey];
        const validateFunction = validateHelper[validateKey];

        const message = validateFunction(
          this.formData[this.name],
          validateValue,
          this.label
        );
        if (message) {
          this.errorMessage = message;
          this.addInvalidField(this.name);
          return;
        }
      }
      // passed all validate
      this.removeInvalidField(this.name);
      this.errorMessage = "";
    },
    clearErrorMessage() {
      this.addInvalidField(this.name);
      this.errorMessage = "";
    },
    formatNumber() {
      const rawData = this.formData[this.name];
      if (!rawData) return;
      const numberRegex = /^[0-9]*$/;
      if (!numberRegex.test(rawData)) return;
      let formatData = +rawData.replace(",", ".");
      this.formData[this.name] = formatData.toFixed(2) + "";
    },
    backJob() {
      const onlyNumberRegex = /\d+$/;
      if (
        this.name === "diemMon1" ||
        this.name === "diemMon2" ||
        this.name === "diemMon3"
      ) {
        let newValue = 0;
        for (let i = 1; i < 4; i++) {
          if (
            this.formData[`diemMon${i}`] &&
            onlyNumberRegex.test(this.formData[`diemMon${i}`])
          ) {
            newValue += Number(this.formData[`diemMon${i}`]);
          }
        }
        this.formData["tongDiem"] = newValue;
      }
    },
    beforeUpload(file) {
      let isImage = true;

      if (
        file.type !== "image/jpeg" &&
        file.type !== "image/png" &&
        file.type !== "image/jpg"
      ) {
        isImage = false;
        message.error(`${file.name} không phải là hình ảnh`);
      }
      //  1048576 = 10MB
      else if (file.size > 1048576) {
        isImage = false;
        message.error(`Kích thước hình ảnh không được lớn hơn 10MB`);
      }

      return new Promise((resolve, reject) => {
        if (isImage) {
          resolve(isImage);
        }
        reject(isImage);
      });
    },
  },
};
</script>
<style>
.ant-upload-list-item:hover .ant-upload-list-item-card-actions {
  opacity: 0;
}
.messageWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.errMessage {
  color: #e53e3e;
  /* margin-top: 5px; */
  font-size: 13px;
}
.radio + .errMessage {
  margin-top: 13px;
}
.ant-upload-list.ant-upload-list-text > div {
  display: none;
}
.ant-upload-list.ant-upload-list-text > div:last-child {
  display: inline-block;
}
.wrap-input {
  padding: 0 15px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}
.wrap-input label {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #3f4254;
}

.ant-form-item-required::before {
  display: none;
}
.required .ant-col.ant-form-item-label::after {
  display: inline-block;
  margin-left: 4px;
  color: #ff0404;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
.ant-input,
.ant-select-selection--single {
  background: #ebedf3;
  border-radius: 8px;
  padding: 4 16px;
  height: 40px;
  z-index: 1;
  border-color: #e2e8f0;
}
.ant-input:focus,
.ant-select-selection--single:focus {
  border-color: rgb(49, 130, 206);
  box-shadow: rgb(49 130 206) 0px 0px 0px 1px;
}
.ant-input:hover,
.ant-select-selection--single:hover {
  border-color: #cbd5e0;
}
.ant-radio-group {
  display: flex;
  justify-content: space-between;
}
.ant-upload > .ant-btn {
  background: #ebedf3;
  border-radius: 3px;
  border-color: #e2e8f0;
}
div.ant-form-item-control
  > span.ant-form-item-children
  > span.ant-calendar-picker {
  display: block;
}
div.ant-form-item-control > span.ant-form-item-children > span {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.anticon.anticon-paper-clip {
  display: none;
}
.ant-upload-list-item-name {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3f4254;
}
.ant-upload-list-item-name {
  padding-left: 10px;
}
.ant-upload-list-item {
  margin-top: 4px;
  font-size: 16px;
}
.ant-upload-list.ant-upload-list-text {
  flex: 1;
}
.ant-select-selection-selected-value {
  line-height: 40px;
}
.select-empty {
  text-align: center;
}
.responsive + .messageWrap {
  max-width: 535px;
}
@media only screen and (max-width: 768px) {
  .wrap-input + .wrap-input {
    margin-top: 17px;
  }
}
@media only screen and (max-width: 375px) {
  .ant-upload-list-item-name {
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 320px;
    display: inline-block;
  }
}
</style>
