<template>
  <div
    class="form-group"
    @mouseenter="toggleTooltip"
    @mouseleave="toggleTooltip"
    ref="formGroup"
    :style="{
      width: half ? '50%' : '100%',
      ...customStyle,
    }"
  >
    <tooltip
      :showDescription="showTooltip"
      :description="description"
    ></tooltip>
    <div class="layout">
      <div class="row">
        <slot></slot>
      </div>
      <div class="margin">
        <slot name="outside"></slot>
      </div>
      <div class="row">
        <slot name="row"></slot>
      </div>
      <slot name="textarea"></slot>
    </div>
  </div>
</template>
<script>
import Tooltip from "./Tooltip.vue";
export default {
  props: {
    description: {
      type: String,
    },
    half: {
      default: false,
      type: Boolean,
    },
    customStyle: {
      default: () => ({}),
      type: Object,
    },
  },
  components: {
    Tooltip,
  },

  data() {
    return {
      showTooltip: false,
    };
  },
  methods: {
    toggleTooltip() {
      if (this.description && screen.width > 900) {
        this.showTooltip = !this.showTooltip;
        this.showTooltip
          ? (this.$refs.formGroup.style.background = "#fff5da")
          : (this.$refs.formGroup.style.background = "transparent");
      }
    },
  },
};
</script>
<style scoped>
.form-group {
  padding: 10px 10px 0;
  border-radius: 8px;
  position: relative;
}
.layout {
  width: 100%;
}
.row {
  margin: 0 -15px;
  display: flex;
}
.margin {
  margin: 15px -15px 0;
}
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .row > * + .row * {
    margin-top: 15px;
  }
  .form-group {
    padding-top: 17px;
  }
  .form-group {
    width: 100% !important;
  }
  .row {
    margin: 0 -9px;
  }
}
@media only screen and (max-width: 768px) {
  .margin {
    margin: 15px -10px 0;
  }
}
</style>
