<template>
  <header class="header">
    <container>
      <div class="wrap">
        <nuxt-link to="/">
          <img :src="logoSource" alt="logo" :style="{ width: '172px' }" />
        </nuxt-link>
        <contact />
      </div>
    </container>
  </header>
</template>
<script>
import Contact from "./Contact.vue";
import Container from "./Container.vue";
export default {
  components: {
    Container,
    Contact,
    Contact,
  },

  data() {
    return {
      logoSource: "/images/logotuoitre.svg",
    };
  },
};
</script>
<style scoped>
.header {
  background: #fff;
  padding: 13px 0;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 820px) {
  .header {
    padding: 13px 16px;
  }
}
</style>
