<template>
  <!-- <LineChart
    :chart-options="chartOptions"
    :chart-data="{
      labels: chartLabels,
      datasets: chartDataSets,
    }"
    :height="800"
  /> -->
  <div></div>
</template>
<script>
// import VueChart from "vue-chartjs/legacy";
// import "chart.js/auto";

export default {
  data() {
    return {
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
      },
    };
  },
  components: {
    // LineChart,
  },
  props: {
    chartId: {
      type: String,
      default: "bar-chart",
    },
    datasetIdKey: {
      type: String,
      default: "label",
    },
    width: {
      type: Number,
      default: 50,
    },
    height: {
      type: Number,
      default: 50,
    },
    cssClasses: {
      default: "",
      type: String,
    },
    styles: {
      type: Object,
      default: () => {},
    },
    plugins: {
      type: Object,
      default: () => {},
    },
    chartLabels: {
      type: Array,
      default: () => [],
    },
    chartDataSets: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
