<template>
  <div>
    <span @click="showModal">
      <slot></slot>
    </span>
    <a-modal
      v-model="visible"
      title="Xuất file excel"
      on-ok="handleOk"
      width="600px"
    >
      <template slot="footer">
        <a-button key="back" @click="handleCancel"> Đóng </a-button>
        <a-button
          key="submit"
          :loading="loading"
          @click="handleOk"
          :style="{ background: '#00c292', color: '#fff' }"
        >
          Xuất file excel
        </a-button>
      </template>
      <div class="custom-select">
        <div class="checkbox-container-label">Chọn tỉnh thành</div>
        <a-select style="width: 100%" @change="handleChange">
          <a-select-option
            v-for="{ code, name, label, value } in listProvinces"
            :key="code || value"
            :value="name || value"
            :code="code || value"
            >{{ name || label }}</a-select-option
          >
        </a-select>
      </div>
      <div :style="{ marginTop: '20px' }">
        <div class="checkbox-container-label">Chọn cột</div>
        <div :style="{ marginBottom: '15px' }">
          <a-button
            :style="{ background: '#00c292', color: '#fff' }"
            @click="() => toggleCheck(true)"
            >Chọn tất cả</a-button
          >
          <a-button type="primary" @click="() => toggleCheck(false)"
            >Bỏ chọn tất cả</a-button
          >
        </div>
        <template v-if="type === 'student'">
          <div
            class="checkbox-item"
            :key="name"
            v-for="{ label, name, checked } in checkboxModalData[type]"
          >
            <input
              type="checkbox"
              :name="name"
              :id="name"
              :checked="checked"
              @change="checkField"
            />
            <label :for="name">{{ label }}</label>
          </div>
        </template>
        <template v-else-if="type === 'presenter'">
          <div></div>
          <div
            :style="{
              display: 'flex',
              alignItems: 'flex-start',
            }"
          >
            <div
              :key="item[0].label"
              v-for="(item, index) in checkboxModalData[type]"
              class="spacing"
            >
              <div class="checkbox-column-wrap">
                <h3>
                  {{
                    index === 0 ? "Người giới thiệu" : "Người được giới thiệu"
                  }}
                </h3>
                <div
                  v-for="{ label, name, checked } in item"
                  :key="name"
                  class="checkbox-item"
                >
                  <input
                    type="checkbox"
                    :name="name"
                    :id="name"
                    :checked="checked"
                    @change="checkField"
                  />
                  <label :for="name">{{ label }}</label>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </a-modal>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { message } from "ant-design-vue";
import { formatDate } from "../../utils/Date";

export default {
  data() {
    return {
      loading: false,
      visible: false,
      selectedCity: "",
      checkboxModalData: {
        student: [
          { label: "Họ và tên", name: "name", checked: true },
          { label: "Giới tính", name: "sex", checked: true },
          { label: "Ngày tháng năm sinh", name: "dateOfBirth", checked: true },
          { label: "Địa chỉ", name: "address", checked: true },
          { label: "Email", name: "email", checked: true },
          { label: "Số điện thoại", name: "phone", checked: true },
          // ------------------------------------------
          { label: "Số CMND/CCCD", name: "numberCMND", checked: true },
          { label: "Ngày cấp CMND/CCCD", name: "date", checked: true },
          { label: "Nơi cấp CMND/CCCD", name: "issued_by", checked: true },
          { label: "Tên trường cấp 3", name: "highSchoolName", checked: true },
          { label: "Điểm trung bình lớp 10", name: "score10", checked: true },
          { label: "Điểm trung bình lớp 11", name: "score11", checked: true },
          { label: "Điểm trung bình lớp 12", name: "score12", checked: true },
          { label: "Điểm thi 3 môn xét tuyển", name: "total", checked: true },
          { label: "Đã đỗ vào ngành", name: "major", checked: true },
          { label: "Trường", name: "university", checked: true },
          {
            label: "Phương thức trúng tuyển",
            name: "matriculation",
            checked: true,
          },
          { label: "Giới thiệu về bản thân", name: "introduce", checked: true },
          {
            label: "Giới thiệu về gia đình",
            name: "introduceFamily",
            checked: true,
          },
        ],
        presenter: [
          [
            {
              label: "Họ và tên người giới thiệu",
              name: "namePresenter",
              checked: true,
            },
            {
              label: "Địa chỉ người giới thiệu",
              name: "address",
              checked: true,
            },
            {
              label: "Email người giới thiệu",
              name: "email",
              checked: true,
            },
            {
              label: "Số điện thoại người giới thiệu",
              name: "phone",
              checked: true,
            },
            {
              label: "Nghề nghiệp, chức danh người giới thiệu",
              name: "job",
              checked: true,
            },
            {
              label: "Mối quan hệ người giới thiệu",
              name: "relationship",
              checked: true,
            },
          ],
          [
            {
              label: "Họ và tên",
              name: "namePresentee",
              checked: true,
            },
            {
              label: "Địa chỉ",
              name: "addressPresentee",
              checked: true,
            },
            {
              label: "Email",
              name: "emailPresentee",
              checked: true,
            },
            {
              label: "Số điện thoại",
              name: "phonePresentee",
              checked: true,
            },
            {
              label: "Ngành trúng tuyển",
              name: "major",
              checked: true,
            },
            {
              label: "Trường trúng tuyển",
              name: "university",
              checked: true,
            },
            {
              label: "Phương thức trúng tuyển",
              name: "method",
              checked: true,
            },
            {
              label: "Hoàn cảnh gia đình",
              name: "situation",
              checked: true,
            },
            {
              label: "Nỗ lực cá nhân",
              name: "effort",
              checked: true,
            },
            {
              label: "Thông tin khác",
              name: "description",
              checked: true,
            },
          ],
        ],
      },
    };
  },
  props: {
    type: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState(["listProvinces"]),
  },
  methods: {
    showModal() {
      if (!this.disabled) {
        this.visible = true;
      }
    },
    async handleOk(e) {
      this.loading = true;
      const clientDownloadFileName = `danh-sach-dang-ky-hoc-bong-${formatDate(
        new Date(),
        "-"
      )}.xlsx`;
      try {
        const res = await this.$axios.post(
          "/api/cms/download",
          this.checkboxModalData[this.type]
        );
        console.log(res.data.fileName);
        const link = document.createElement("a");
        link.href = `/downloads/${res.data.fileName}`;

        link.setAttribute("download", clientDownloadFileName);

        document.body.appendChild(link);

        link.click();
        this.loading = false;
        this.visible = false;
        message.success("Tải file thành công");
      } catch (error) {
        console.log("line 268 Modal.vue", error);
        this.loading = false;
        this.visible = false;
        message.error(
          "Đã có lỗi xảy ra, vui lòng đợi trong giây lát và thử lại"
        );
      }
    },
    checkField(event) {
      const { checked, name } = event.target;
      this.checkboxModalData[this.type] = this.checkboxModalData[this.type].map(
        (item) =>
          item.name === name
            ? {
                ...item,
                checked,
              }
            : item
      );
    },
    handleCancel(e) {
      this.visible = false;
    },
    handleChange(value) {
      this.selectedCity = value;
    },
    toggleCheck(value) {
      this.checkboxModalData[this.type] = this.checkboxModalData[this.type].map(
        (item) => ({
          ...item,
          checked: value,
        })
      );
    },
  },
};
</script>
<style>
.checkbox-container-label {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.checkbox-item {
  display: flex;
  align-items: center;
}
.checkbox-item label {
  margin-left: 8px;
}
.checkbox-column-wrap {
  display: flex;
  flex-direction: column;
}
.spacing + .spacing {
  margin-left: 40px;
}
</style>
