<template>
  <span>
    <!-- <button @click="showMultiple">Show a group of pictures.</button> -->
    <span class="image-link" @click="showSingle">Xem</span>

    <!-- all props & events -->
    <client-only placeholder="loading.....">
      <vue-easy-lightbox
        :visible="visible"
        :imgs="imageContent || imgs"
        :index="index"
        @hide="handleHide"
      ></vue-easy-lightbox>
    </client-only>
  </span>
</template>

<script>
// Method.3 Local registration
import VueEasyLightbox from "vue-easy-lightbox";

export default {
  components: {
    VueEasyLightbox,
  },
  data() {
    return {
      visible: false,
      index: 0, // default: 0
    };
  },
  props: {
    imageContent: {
      type: String,
    },
  },
  methods: {
    showSingle() {
      this.imgs = "https://zpsocial-f46-org.zadn.vn/87a6514f9f5670082947.jpg";

      this.show();
    },
    showMultiple() {
      this.imgs = [
        "http://via.placeholder.com/350x150",
        "http://via.placeholder.com/350x150",
      ];
      // or
      //   this.imgs = [
      //     { title: "test img", src: "http://via.placeholder.com/350x150" },
      //     "http://via.placeholder.com/350x150",
      //   ];
      // allow mixing

      this.index = 1; // index of imgList
      this.show();
    },
    show() {
      this.visible = true;
    },
    handleHide() {
      this.visible = false;
    },
  },
};
</script>
