<template>
  <div>
    <a-tabs
      type="card"
      default-active-key="1"
      @change="callback"
      v-if="type === 'student'"
    >
      <a-tab-pane key="1" tab="Thông tin cá nhân">
        <transition-group name="fade">
          <student-tab-1
            :key="1"
            v-if="activeKey === '1'"
            style="animation-duration: 1.5s"
            :data="detailData['tab-1']"
          ></student-tab-1>
        </transition-group>
      </a-tab-pane>
      <a-tab-pane key="2" tab="Thông tin gia đình" force-render>
        <transition-group name="fade">
          <student-tab-2
            :key="2"
            style="animation-duration: 1.5s"
            v-if="activeKey === '2'"
            :data="detailData['tab-2']"
          ></student-tab-2>
        </transition-group>
      </a-tab-pane>
      <a-tab-pane key="3" tab="Nỗ lực và định hướng tương lai" force-render>
        <transition-group name="fade">
          <student-tab-3
            :key="3"
            style="animation-duration: 1.5s"
            v-if="activeKey === '3'"
            :data="detailData['tab-3']"
          ></student-tab-3>
        </transition-group>
      </a-tab-pane>
      <a-tab-pane key="4" tab="Đáp đền tiếp nối" force-render>
        <transition-group name="fade">
          <student-tab-4
            :key="4"
            style="animation-duration: 1.5s"
            v-if="activeKey === '4'"
            :data="detailData['tab-4']"
          ></student-tab-4>
        </transition-group>
      </a-tab-pane>
    </a-tabs>
    <a-tabs
      default-active-key="1"
      @change="callback"
      v-else-if="type === 'presenter'"
      type="card"
    >
      <a-tab-pane key="1" tab="Người giới thiệu">
        <transition-group name="fade">
          <presenter-tab-1
            v-if="activeKey === '1'"
            :key="1"
            :data="detailData['tab-1']"
          ></presenter-tab-1>
        </transition-group>
      </a-tab-pane>
      <a-tab-pane key="2" tab="Người được giới thiệu" force-render>
        <transition-group name="fade">
          <presenter-tab-2
            v-if="activeKey === '2'"
            :key="2"
            :data="detailData['tab-2']"
          ></presenter-tab-2>
        </transition-group>
      </a-tab-pane>
      <a-tab-pane key="3" tab="Ý kiến bổ sung" force-render>
        <transition-group name="fade">
          <presenter-tab-3
            v-if="activeKey === '3'"
            :key="3"
            :data="detailData['tab-3']"
          ></presenter-tab-3>
        </transition-group>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>
<script>
import StudentTab1 from "../CMS/Student/StudentTab1.vue";
import StudentTab2 from "../CMS/Student/StudentTab2.vue";
import StudentTab3 from "../CMS/Student/StudentTab3.vue";
import StudentTab4 from "../CMS/Student/StudentTab4.vue";

import PresenterTab1 from "../CMS/Presenter/PresenterTab1.vue";
import PresenterTab2 from "../CMS/Presenter/PresenterTab2.vue";
import PresenterTab3 from "../CMS/Presenter/PresenterTab3.vue";

require("vue2-animate/dist/vue2-animate.min.css");

export default {
  data() {
    return { activeKey: "1" };
  },
  props: {
    type: {
      type: String,
    },
    detailData: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    callback(key) {
      this.activeKey = key;
    },
  },
  components: {
    StudentTab1,
    StudentTab2,
    StudentTab3,
    StudentTab4,
    PresenterTab1,
    PresenterTab2,
    PresenterTab3,
  },
};
</script>
<style>
.detail-table .ant-table-row-cell-break-word {
  position: relative;
}
.detail-table .content {
  margin-bottom: 5px;
}
.detail-table .content span {
  font-weight: 800;
}
span.image-link {
  color: #1890ff;
  cursor: pointer;
}
</style>
