<template>
  <div v-if="showDescription" class="tool-tip">
    {{ description }}
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  props: {
    description: {
      type: String,
    },
    showDescription: {
      type: Boolean,
    },
  },
};
</script>
<style scoped>
.tool-tip {
  background: #fff5da;
  position: absolute;
  top: -76px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  color: #000;
  min-width: 200px;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: normal;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 3;
}
.tool-tip::first-letter {
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .tool-tip {
    /* width: 100%;
    white-space: initial;
    position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
    display: none;
  }
}
</style>
