<template>
  <div class="wrap-tab">
    <a-table
      :columns="columns"
      :dataSource="data"
      class="custom-table detail-table"
      :showHeader="false"
      :pagination="false"
      :rowKey="(record) => record.id"
    >
      <template slot="field" slot-scope="field">
        <div
          :style="{
            color: '#666',
            fontWeight: 700,
          }"
        >
          {{ field }}:
        </div>
      </template>
      <template slot="content" slot-scope="content">
        <div
          class="content"
          :key="name"
          v-for="{ value, name, type, label } in content"
        >
          <label v-if="label !== ''">{{ label }}:</label>
          <span v-if="type === 'string'">{{ value }} </span>
          <PreviewImage v-else :imageContent="value" />
        </div>
      </template>
    </a-table>
  </div>
</template>
<script>
import Table from "../../Block/Table.vue";
import PreviewImage from "../../Block/PreviewImage.vue";

const columns = [
  {
    key: "field",
    title: "field",
    dataIndex: "field",
    scopedSlots: { customRender: "field" },
    width: 400,
  },
  {
    key: "content",
    title: "content",
    dataIndex: "content",
    scopedSlots: { customRender: "content" },
    // width: 700,
  },
];

export default {
  data() {
    return { columns };
  },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    callback(key) {
      console.log(key);
    },
  },
  components: { Table, PreviewImage },
};
</script>
<style scoped>
.wrap-tab {
  max-width: 1200px;
}
</style>
