<template>
  <div>
    <form-group>
      <template v-slot:textarea>
        <div class="textarea-wrap custom-text-area">
          <div class="input-text-area-wrap">
            <form-input
              label="Thông tin khác"
              inputType="textarea"
              name="thongTinKhac"
              :formData="formData"
              :isSubmitted="isSubmitted"
              :removeInvalidField="removeInvalidField"
              :addInvalidField="addInvalidField"
              :customStyle="{ height: '128px' }"
              :wrapStyle="{
                paddingRight: 0,
              }"
            />
          </div>
        </div>
      </template>
    </form-group>
  </div>
</template>
<script>
import FormGroup from "../../Block/FormGroup.vue";
import FormInput from "../../Block/FormInput.vue";
import { mapState } from "vuex";

export default {
  components: {
    FormGroup,
    FormInput,
  },
  computed: {
    ...mapState(["listProvinces", "listDistrict", "listWard"]),
    calcMaxWidth() {
      return screen.width > 915 ? "535px" : "100%";
    },
  },
  props: {
    currentStep: {
      type: Number,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    isSubmitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
  },
};
</script>
