<template>
  <footer>
    © 2021 TuoiTre Technology, make with
    <a-icon type="heart" theme="filled" :style="{ color: 'red' }" />
  </footer>
</template>
<style scoped>
footer {
  padding: 17px 15px;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  margin-left: 220px;
  font-family: "Poppins", sans-serif;
}
</style>
