<template>
  <div class="side-bar-container">
    <nuxt-link to="/cms">
      <img
        src="/images/logotuoitre.svg"
        alt="logo"
        :style="{ width: '172px' }"
      />
    </nuxt-link>
    <div class="side-bar">
      <nuxt-link
        to="/cms"
        v-if="
          listRole.includes('cms/recent7days') ||
          listRole.includes('cms/cities')
        "
      >
        <div
          :class="{
            'side-bar-item': true,
            active: this.$route.path === '/cms',
          }"
        >
          <a-icon class="icon" type="bar-chart" />Bảng điều khiển
        </div>
      </nuxt-link>
      <nuxt-link to="/cms/student" v-if="listRole.includes('cms/get-student')">
        <div
          :class="{
            'side-bar-item': true,
            active: this.$route.path.includes('student'),
          }"
        >
          <a-icon class="icon" type="user" />Đăng ký kênh SV
        </div>
      </nuxt-link>
      <nuxt-link
        to="/cms/presenter"
        v-if="listRole.includes('cms/get-presenter')"
        ><div
          :class="{
            'side-bar-item': true,
            active: this.$route.path.includes('presenter'),
          }"
        >
          <a-icon class="icon" type="user" />Đăng ký kênh NGT
        </div></nuxt-link
      >
      <nuxt-link to="/cms/setting">
        <div
          :class="{
            'side-bar-item': true,
            active: this.$route.path === '/cms/setting',
          }"
        >
          <a-icon class="icon" type="setting" />Cài đặt
        </div>
      </nuxt-link>
      <nuxt-link
        to="/cms/assignment"
        v-if="listRole.includes('cms/root-admin')"
      >
        <div
          :class="{
            'side-bar-item': true,
            active: this.$route.path.includes('assignment'),
          }"
        >
          <a-icon class="icon" type="deployment-unit" />Cấp quyền truy cập
        </div>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["listRole"]),
  },
};
</script>

<style scoped>
.side-bar-container {
  width: 220px;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
  z-index: 4;
}
img {
  padding: 5px 0 0 10px;
  width: 172px;
}
.side-bar {
  margin-top: 30px;
}
.side-bar-item {
  font-weight: 500;
  padding: 10px 32px 10px 15px;
  font-size: 14px;
  cursor: pointer;
  margin: 8px 0;
  color: #9aa3b7;
  font-family: "Poppins", sans-serif;
  border-left: 3px solid transparent;
}
.side-bar-item.active {
  color: #fb9678;
  border-left: 3px solid #fb9678;
}
.side-bar-item:hover {
  color: #fb9678;
}
.icon {
  font-size: 16px;
  margin-right: 10px;
}
</style>
