<template>
  <div :class="$route.path === '/cms' ? '' : 'cms-app'">
    <Header></Header>
    <div class="content">
      <Nuxt />
    </div>
    <Footer></Footer>
    <sidebar></sidebar>
  </div>
</template>
<script>
import Header from "../components/CMS/Header.vue";
import Footer from "../components/CMS/Footer.vue";
import Sidebar from "../components/CMS/Sidebar.vue";

export default {
  components: {
    Header,
    Footer,
    Sidebar,
  },
};
</script>
<style scoped>
.cms-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  padding: 25px;
  background: #edf1f5;
  margin-left: 220px;
  margin-top: 66px;
  flex: 1;
}
</style>
