<template>
  <div class="app">
    <header-main />
    <Nuxt />
    <footer-main />
  </div>
</template>
<script>
import HeaderMain from "../components/Block/Header.vue";
import FooterMain from "../components/Block/Footer.vue";
export default {
  name: "default",
  components: {
    HeaderMain,
    FooterMain,
  },
};
</script>
<style scoped>
.app {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
</style>
