<template>
  <div class="app">
    <header-main />
    <div class="title">
      <h1>TIẾP SỨC ĐẾN TRƯỜNG 2023</h1>
      <div>
        Chương trình học bổng Tiếp sức đến trường của Báo Tuổi Trẻ năm 2023
      </div>
    </div>
    <Nuxt />
    <footer-main />
  </div>
</template>
<script>
import HeaderMain from "../components/Block/Header.vue";
import FooterMain from "../components/Block/Footer.vue";
export default {
  components: {
    HeaderMain,
    FooterMain,
  },
};
</script>
<style scoped>
.app {
  background: #f1f1f1;
}
.title {
  text-align: center;
  margin: 62px 0 56px;
}
.title > h1 {
  font-size: 34px;
  font-weight: 900;
  line-height: 42px;
  margin: 0 0 14px;
}
.title > div {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #7e8299;
}
</style>
