<template>
  <container>
    <div>
      <img :src="bannerImageSource" alt="banner" class="banner" width="100%" />
      <div class="button-group">
        <Button
          description="Người đăng ký xin học bổng"
:disabled="!this.setting.enable"

:class="this.setting.enable ? '' : 'button-disabled'"
          :eventClick="
            () => this.redirect('/tiep-suc-den-truong/tan-sinh-vien')
          "
        >
          tân sinh viên
        </Button>
        <Button
          description="Người giới thiệu tân sinh viên"
:disabled="!this.setting.enable"

:class="this.setting.enable ? '' : 'button-disabled'"
          :eventClick="
            () => this.redirect('/tiep-suc-den-truong/nguoi-gioi-thieu')
          "
          >người giới thiệu</Button
        >
      </div>
    </div>
  </container>
</template>
<script>
import Container from "../components/Block/Container.vue";
import Button from "../components/Block/Button.vue";
import {mapState} from 'vuex'
import {message} from 'ant-design-vue'
export default {
  layout: "default",
  components: {
    Container,
    Button,
  },
  head: {
    title: "Tiếp sức đến trường | Tuổi Trẻ Online",
  },
  data() {
    return {
      bannerImageSource: "/images/banner.jpeg",
    };
  },
computed:{
...mapState(['setting']),
},
mounted(){
if(!this.setting.enable){
message.warn('Đã hết thời hạn đăng ký, vui lòng quay lại vào năm sau!')
}
},
  methods: {
    redirect(to) {
      this.$router.push(to);
    },
  },
};
</script>
<style scoped>
.button-group {
  text-align: center;
}
.banner {
  width: 100%;
  /* margin-top: 90px; */
  border-radius: 10px;
  margin-bottom: 40px;
}
</style>
