<template>
  <div>
    <form-group>
      <template v-slot:textarea>
        <div class="textarea-wrap">
          <div class="input-text-area-wrap">
            <form-input
              label="Trong giới hạn 300 chữ, bạn hãy giới thiệu về gia đình mình"
              inputType="textarea"
              required
              name="gioiThieuGiaDinh"
              :formData="formData"
              :customStyle="{ height: '276px' }"
              :isSubmitted="isSubmitted"
              :validateRules="{ minLength: 1, maxAmountWords: 300 }"
              :removeInvalidField="removeInvalidField"
              :addInvalidField="addInvalidField"
              :counter="countWords(formData['gioiThieuGiaDinh'])"
            />
            <!-- <div class="counter">
              {{ formData["gioiThieuGiaDinh"].length || 0 }} /
              <span>300 </span>chữ
            </div> -->
          </div>
          <div class="mention">
            Bạn cố gắng ghi cụ thể. Ví dụ: làm 3 sào lúa (thay vì ghi: làm
            nông), Chở dừa bằng xe đạp đi bán dạo (thay vì ghi: buôn bán...),
            sửa xe đạp bên lề đường (thay vì ghi: thợ sửa xe)...
          </div>
        </div>
      </template>
    </form-group>
    <form-group>
      <template v-slot:textarea>
        <div class="textarea-wrap">
          <div class="input-text-area-wrap">
            <form-input
              label="Tại sao bạn cần học bổng này"
              inputType="textarea"
              required
              name="lyDoCanHocBong"
              :formData="formData"
              :customStyle="{ height: '218px' }"
              :isSubmitted="isSubmitted"
              :validateRules="{ minLength: 1, maxAmountWords: 200 }"
              :removeInvalidField="removeInvalidField"
              :addInvalidField="addInvalidField"
              :counter="countWords(formData['lyDoCanHocBong'])"
            />
            <!-- <div class="counter">
              {{ formData["lyDoCanHocBong"].length || 0 }} /
              <span>200 </span>chữ
            </div> -->
          </div>
          <div class="mention">
            Trong giới hạn 200 từ, Bạn hãy nêu lý do bạn cần học bổng này? Học
            bổng sẽ giúp được gì cho Bạn?
          </div>
        </div>
      </template>
    </form-group>
    <form-group>
      <template v-slot:textarea>
        <div class="textarea-wrap">
          <div class="input-text-area-wrap">
            <div class="wrap-spacing">
              <form-input
                label="Upload giấy chứng nhận hộ nghèo (nếu có) hoặc giấy xác nhận hoàn cảnh đặc biệt khó khăn của UBND phường, xã."
                inputType="imagePicker"
                required
                name="giayXacNhan"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
              >
                <span class="custom-label">lasdlasdlakdkalksdlak *</span>
              </form-input>
            </div>
          </div>
          <div class="mention" :style="{ top: '25px' }">
            Nếu không có giấy hộ nghèo, bạn có thể làm giấy xác nhận hoàn cảnh
            đặc biệt khó khăn có xác nhận của UBND phường, xã.
          </div>
        </div>
      </template>
    </form-group>
  </div>
</template>
<script>
import FormGroup from "../../Block/FormGroup.vue";
import FormInput from "../../Block/FormInput.vue";
import { mapState } from "vuex";

export default {
  components: {
    FormGroup,
    FormInput,
  },
  methods: {
    countWords(str = "") {
      if (!str) return 0;
      const arr = str.split(" ");

      return arr.filter((word) => word !== "").length;
    },
  },
  computed: {
    ...mapState(["listProvinces", "listDistrict", "listWard"]),
  },
  props: {
    currentStep: {
      type: Number,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    isSubmitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
  },
};
</script>
