<template>
  <div>
    <form-group
      description="Tên bạn là Nguyễn Văn A, bạn sẽ điền là: Văn A - Nguyễn. Tên bạn là Huỳnh Lê Châu Thủy, bạn sẽ điền là Lê Châu Thủy - Huỳnh"
    >
      <form-input
        label="Tên"
        name="ten"
        :formData="formData"
        :validateRules="{ minLength: 1 }"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Họ"
        name="ho"
        :validateRules="{ minLength: 1 }"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        label="Giới tính"
        name="gioiTinh"
        :formData="formData"
        :radioListData="[
          { label: 'Nam', value: 'nam' },
          { label: 'Nữ', value: 'nữ' },
          { label: 'Khác', value: 'khác' },
        ]"
        inputType="radio"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Ngày tháng năm sinh"
        name="ngayThangNamSinh"
        :formData="formData"
        inputType="datePicker"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        defaultDate="2005-06-30"
        :disabledDate="{
          min: '1970-01-01',
          max: '2007-12-31',
        }"
        required
      />
    </form-group>
    <form-group>
      <form-input
        name="diaChi"
        :formData="formData"
        label="Địa chỉ nhà"
        inputType="text"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        :selectData="listProvinces"
        name="tinhThanhPho"
        :formData="formData"
        label="Tỉnh thành phố"
        dispatchType="province"
        inputType="select"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        :selectData="listDistrict"
        name="quanHuyen"
        :formData="formData"
        label="Quận huyện"
        dispatchType="district"
        inputType="select"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        :selectData="listWard"
        name="phuongXa"
        :formData="formData"
        label="Phường xã"
        dispatchType="ward"
        inputType="select"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        label="Email"
        inputType="text"
        name="email"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, email: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Số điện thoại"
        inputType="text"
        name="soDienThoai"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, phone: '' }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        label="Tên trường cấp 3"
        name="tenTruongCap3"
        :formData="formData"
        inputType="text"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group
      :description="`Bạn điền số Chứng minh nhân dân hoặc Căn cước công dân, ngày cấp và nơi cấp. Các file upload yêu cầu dưới 10MB. Định dạng ảnh cho phép: .jpg, .png, .jpeg`"
    >
      <form-input
        label="Số CMND"
        name="soCMND"
        :formData="formData"
        inputType="text"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, number: '', exactLength: [9, 12] }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Ngày cấp"
        name="ngayCap"
        :formData="formData"
        inputType="datePicker"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Nơi cấp"
        name="noiCap"
        :formData="formData"
        inputType="text"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <template v-slot:row>
        <div class="image-picker-wrap">
          <form-input
            label="Mặt trước CMND"
            name="matTruocCMND"
            :formData="formData"
            inputType="imagePicker"
            :isSubmitted="isSubmitted"
            :validateRules="{ minLength: 1 }"
            :removeInvalidField="removeInvalidField"
            :addInvalidField="addInvalidField"
            required
          />
          <form-input
            label="Mặt sau CMND"
            name="matSauCMND"
            :formData="formData"
            inputType="imagePicker"
            :isSubmitted="isSubmitted"
            :validateRules="{ minLength: 1 }"
            :removeInvalidField="removeInvalidField"
            :addInvalidField="addInvalidField"
            required
          />
        </div>
      </template>
    </form-group>
    <form-group>
      <form-input
        label="Điểm trung bình lớp 10"
        name="diemLop10"
        :formData="formData"
        inputType="number"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, number: '', range: [0, 10] }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Điểm trung bình lớp 11"
        name="diemLop11"
        :formData="formData"
        inputType="number"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, number: '', range: [0, 10] }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Điểm trung bình lớp 12"
        name="diemLop12"
        :formData="formData"
        inputType="number"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, number: '', range: [0, 10] }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <div class="form-title">
      Điểm thi THPT Quốc gia năm 2021 ba môn xét tuyển đại học.
    </div>
    <form-group>
      <form-input
        label="Điểm môn 1"
        name="diemMon1"
        :formData="formData"
        inputType="number"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, number: '', range: [0, 30] }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Điểm môn 2"
        name="diemMon2"
        :formData="formData"
        inputType="number"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, number: '', range: [0, 30] }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Điểm môn 3"
        name="diemMon3"
        :formData="formData"
        inputType="number"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, number: '', range: [0, 30] }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Tổng điểm 3 môn"
        name="tongDiem"
        :formData="formData"
        inputType="number"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        disabled
      />
    </form-group>
    <form-group description="Các giải thưởng khác (nếu có).">
      <form-input
        label="Thành tích học tập khác"
        name="thanhTichHocTap"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        inputType="text"
      />
    </form-group>
    <form-group
      description="Nếu có, ghi rõ và đầy đủ tên học bổng, năm, số tiền."
    >
      <form-input
        label="Đã từng được các học bổng"
        name="hocBong"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        inputType="text"
      />
    </form-group>
    <form-group>
      <form-input
        label="Bạn đỗ ngành gì"
        name="nganhHocDaiHoc"
        :formData="formData"
        inputType="text"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Trường nào"
        name="truongDaiHoc"
        :formData="formData"
        inputType="text"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <div
      class="wrapper-custom student-wrapper"
      :style="{ alignItems: 'flex-start' }"
    >
      <form-group
        description="Chọn 1 trong các phương thức sau và điền vào ghi chú"
        half
      >
        <form-input
          label="Hình thức trúng tuyển"
          name="hinhThuc"
          :formData="formData"
          :selectData="[
            { label: 'Tuyển thẳng (Ghi rõ diện gì)', value: 'Tuyển thẳng' },
            {
              label: 'Ưu tiên xét thẳng (Ghi rõ diện gì)',
              value: 'Ưu tiên xét thẳng',
            },
            {
              label: 'Thi đánh giá năng lực: (Ghi rõ số điểm đạt được).',
              value: 'Thi đánh giá năng lực',
            },
            {
              label:
                'Xét tuyển điểm thi THPT: (Ghi rõ tổng điểm và từng điểm tổ hợp 3 môn xét tuyển)',
              value: 'Xét tuyển điểm thi THPT',
            },
            {
              label:
                'Xét học bạ: (Ghi rõ quy cách xét tuyển và tổng điểm 3 môn).',
              value: 'Xét học bạ',
            },
            {
              label: 'Khác: (Ghi rõ hình thức trúng tuyển khác của bạn).',
              value: 'Khác',
            },
          ]"
          inputType="select"
          :isSubmitted="isSubmitted"
          :validateRules="{ minLength: 1 }"
          :removeInvalidField="removeInvalidField"
          :addInvalidField="addInvalidField"
          required
        />
        <template v-slot:outside>
          <form-input
            label="Ghi chú ( phương thức trúng tuyển )"
            inputType="textarea"
            required
            name="ghiChu"
            :formData="formData"
            :customStyle="{ height: '60px' }"
            :isSubmitted="isSubmitted"
            :validateRules="{ minLength: 1 }"
            :removeInvalidField="removeInvalidField"
            :addInvalidField="addInvalidField"
          />
        </template>
      </form-group>
      <div :style="{ width: '10px' }"></div>
      <form-group
        description="Bạn vui lòng chụp giấy bao trúng tuyển và tải lên. File upload yêu cầu dưới 10MB. Định dạng ảnh cho phép: .jpg, .png, .jpeg"
        half
      >
        <form-input
          label="Giấy báo trúng tuyển"
          name="giayBao"
          :formData="formData"
          inputType="imagePicker"
          :isSubmitted="isSubmitted"
          :validateRules="{ minLength: 1 }"
          :removeInvalidField="removeInvalidField"
          :addInvalidField="addInvalidField"
          required
        />
      </form-group>
    </div>
  </div>
</template>
<script>
import FormGroup from "../../Block/FormGroup.vue";
import FormInput from "../../Block/FormInput.vue";
import { mapState } from "vuex";

export default {
  components: {
    FormGroup,
    FormInput,
  },
  computed: {
    ...mapState(["listProvinces", "listDistrict", "listWard"]),
  },
  props: {
    currentStep: {
      type: Number,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    isSubmitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
  },
};
</script>
