<template>
  <Card :custom-style="{ minHeight: '800px' }">
    <div
      class="custom-select"
      :style="{ margin: '15px -15px 40px 0', display: 'flex' }"
    >
      <div class="schoolar-select">
        <a-select
          placeholder="Chọn tỉnh thành"
          style="width: 190px"
          @change="(value) => handleSelectSearchFilter('city', value)"
          class="custom-select"
        >
          <a-select-option value="">Tất cả tỉnh thành</a-select-option>
          <a-select-option
            v-for="{ code, name, label, value } in listProvinces"
            :key="code || value"
            :value="name || value"
            :code="code || value"
            >{{ name || label }}</a-select-option
          >
        </a-select>
      </div>
      <div class="schoolar-select">
        <a-select
          style="width: 190px"
          @change="(value) => handleSelectSearchFilter('rangeTime', value)"
          class="custom-select"
          placeholder="Mốc thời gian"
        >
          <a-select-option value="">Tất cả </a-select-option>
          <a-select-option value="today"> Hôm nay </a-select-option>
          <a-select-option value="week"> Tuần này </a-select-option>
          <a-select-option value="month"> Tháng này </a-select-option>
        </a-select>
      </div>
      <div :style="{ position: 'relative', width: '500px' }">
        <a-icon type="search" class="student-search-icon" />

        <a-icon
          type="close"
          class="student-delete-icon"
          @click="clearInput"
          v-model="searchFilter.searchValue"
        />
        <FormInput
          :customStyle="{
            borderRadius: '4px',
            height: '50px',
            background: '#fff',
          }"
          placeholder="Tìm kiếm theo tên, địa chỉ...."
          :customClass="{
            customPlaceholder: true,
          }"
          :form-data="searchFilter"
          name="searchValue"
        />
      </div>
      <a-button
        type="primary"
        size="large"
        icon="search"
        :style="{ height: '50px', width: '150px' }"
        @click="handleSearch"
        >Tìm kiếm</a-button
      >
      <Modal :type="type" :disabled="disabledExportExcelButton">
        <a-tooltip>
          <template slot="title">
            {{
              disabledExportExcelButton
                ? "Bạn không có quyền thực hiện tác vụ này"
                : `Xuất danh sách ${
                    type === "student"
                      ? "sinh viên".toUpperCase()
                      : "người giới thiệu".toUpperCase()
                  }`
            }}
          </template>
          <a-button
            type="primary"
            size="large"
            icon="file-excel"
            :style="{
              height: '50px',
              marginLeft: '15px',
              background: '#00c292',
              border: '#00c292',
              width: '150px',
              color: '#fff',
            }"
            :disabled="disabledExportExcelButton"
            :class="disabledExportExcelButton ? 'button-disabled' : ''"
            >Xuất file excel</a-button
          >
        </a-tooltip>
      </Modal>
    </div>
    <Table
      :columns="
        type === 'student' ? studentTableColumns : presenterTableColumns
      "
      :type="type"
      :isSearch="isSearch"
      :searchFilter="searchFilter"
      :resetSearch="resetSearch"
    ></Table>
  </Card>
</template>
<script>
import Card from "../../components/Block/Card.vue";
import Table from "../../components/Block/Table.vue";
import FormInput from "../../components/Block/FormInput.vue";
import { studentTableColumns, presenterTableColumns } from "../../utils/Table";
import Modal from "../../components/Block/Modal.vue";
import { mapState } from "vuex";
import { authenticateToken, checkRole } from "../../utils/auth";

export default {
  layout: "cms",
  head: {
    title: "Danh sách đăng ký | Tuổi Trẻ Tiếp Sức",
  },
  data() {
    return {
      studentTableColumns,
      presenterTableColumns,
      searchFilter: {
        city: "",
        rangeTime: "",
        searchValue: "",
      },
      isSearch: false,
    };
  },
  computed: {
    ...mapState(["listProvinces", "listRole"]),
    disabledExportExcelButton() {
      return !this.$store.state.listRole.includes(`cms/export-${this.type}`);
    },
  },
  mounted() {
    this.$store.dispatch("GetProvinces");
  },

  validate(context) {
    return (
      authenticateToken(context, `/cms/${context.params.schoolarship}`) &&
      checkRole(context.store.state.listRole, [
        "cms/export-student",
        "cms/export-presenter",
        "cms/get-student",
        "cms/get-presenter",
      ])
    );
  },
  async asyncData({ params }) {
    return {
      type: params.schoolarship,
    };
  },
  components: { Card, Table, FormInput, Modal },
  methods: {
    handleSelectSearchFilter(key, value) {
      console.log(key, value);
      this.searchFilter[key] = value;
    },
    clearInput() {
      this.searchFilter.searchValue = "";
    },
    handleSearch() {
      this.isSearch = true;
    },
    resetSearch() {
      this.isSearch = false;
    },
  },
};
</script>
<style>
.customPlaceholder {
  padding-left: 40px;
}
.student-search-icon {
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  z-index: 2;
}
.student-delete-icon {
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 2;
  cursor: pointer;
}

.custom-select .ant-select-selection-selected-value {
  line-height: 50px;
}
.custom-select .ant-input,
.custom-select .ant-select-selection--single {
  background: #fff;
  border-radius: 6px;
  height: auto;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  height: 50px;
}
.schoolar-select + .schoolar-select {
  margin-left: 15px;
}
.custom-select .ant-select-selection__rendered {
  height: 50px;
}
.page-enter-active,
.page-leave-active {
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
.page-enter {
  transform: translateX(500px);
  transform: scale(0.3);
}
.page-leave-to {
  transform: translateX(-500px);
  transform: scale(0.3);
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
button.button-disabled {
  opacity: 0.5;
}
</style>
