<template>
  <Card>
    <div class="student-name">
      {{ studentName }}
    </div>
    <Tab :type="type" :detailData="detailData"></Tab>
  </Card>
</template>
<script>
import Card from "../../../components/Block/Card.vue";
import Tab from "../../../components/Block/Tab.vue";
import { authenticateToken, checkRole } from "../../../utils/auth";

export default {
  layout: "cms",
  head() {
    return {
      title: `Chi tiết đăng ký: ${this.studentName} | Tuổi Trẻ Tiếp Sức`,
    };
  },
  computed: {
    studentName() {
      return this.detailData["tab-1"][0].content[0].value;
    },
  },
  validate({ params, query, ...context }) {
    return (
      authenticateToken(
        context,
        `/cms/scholarship-detail/${params.type}?q=${query.q}`
      ) &&
      checkRole(context.store.state.listRole, [
        "cms/scholarship-detail",
        "cms/scholarship-details",
      ])
    );
  },
  async asyncData({ params, query, $axios, store }) {
    const { type } = params;
    const { q: id } = query;
    let detailData = {};
    try {
      if (!id) return;
      $axios.setToken(store.state.adminInfo.token);
      const res = await $axios.get(`/api/cms/detail/${type}/${id}`);
      const { status, data } = res;
      if (status === 200) {
        detailData = data;
      }
    } catch (error) {
      console.log("schoolarshi-detail/_type.vue line 25");
      console.log(error);
    }

    return {
      detailData,
      type: params.type,
      id: query.q,
    };
  },
  components: {
    Card,
    Tab,
  },
};
</script>
<style scoped>
.student-name {
  padding: 14px 20px;
  background: url(https://bootdey.com/img/Content/bg1.jpg) center no-repeat;
  background-size: 100% auto;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 10px;
}
</style>
